/* Overriding standard styles */

.logo_2018 {
    display: none;
}

#top_title {
    display: none;
}

#content {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

/*#####BASE#####*/

body {
    background-color: #E0D7CE;
    font-size: 80%;
}

#bodyContent {
    margin: 0;
    padding: none;
}

#bodyContent a {
    color: #FEDC54;
    font-weight: bold;
}

#bodyContent a[href ^="https://"] {
    padding: 0;
}

#bodyContent a:visited {
    color: #B19A3A;
}

#bodyContent a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bodyContent h1,
#bodyContent h2,
#bodyContent h3 {
    padding: 0px;
    margin: 10px;
    overflow: visible;
}

#bodyContent table,
#bodyContent th,
#bodyContent td {
    border: none;
}

#bodyContent table {
    margin: 10px auto;
}

#bodyContent th {
    background-color: #FEDC54;
    font-size: 1.1em;
}

#bodyContent td {
    background-color: #ECE7E1;
}

#bodyContent td:first-child,
#bodyContent th:first-child {
    border-right: 1px solid black;
}

#bodyContent td:last-child,
#bodyContent th:last-child {
    border-left: 1px solid black;
}

#bodyContent,
#bodyContent p {
    font-size: 1em;
    font-family: Tahoma, Geneva, sans-serif;
}

#bodyContent p {
    margin: 0px;
    padding: 10px;
}

#bodyContent img {
    width: 100%;
    box-sizing: border-box;
}

/*#####LAYOUT#####*/

#bodyContent #content_menu_wrapper {
    background-image: url("images/Corn_aspect_9_10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px;
    background-attachment: fixed;
}

@media only screen and (max-width: 900px) and (max-aspect-ratio: 6/10) {
    #bodyContent #content_menu_wrapper {
        background-image: url("images/Corn_aspect_9_10.png");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: auto 100%;
        background-attachment: fixed;
    }
}

@media only screen and (min-width: 900px) {
    #bodyContent #content_menu_wrapper {
        display: flex;

        justify-content: space-between;
    }

    #bodyContent #main_wrapper {
        width: 900px;
        margin: 0 auto;

        box-shadow: 5px 5px 5px grey;

    }
}

#bodyContent #navigation {
    flex-basis: 20%;
    display: none;
}

@media only screen and (min-width: 900px) {
    #bodyContent #navigation {
        display: block;
    }
}

#bodyContent #main_content {
    flex-basis: 80%;
    padding: 10px;
    box-sizing: border-box;

    background-color: rgba(100, 100, 100, 0.2);
}


#bodyContent #footer {
    width: 100%;

    background-color: grey;

}

.l-three_col {
    display: flex;
    justify-content: space-around;
}

.l-three_col-columns {
    flex-grow: 1;
}

/*#####MODULES#####*/

@-webkit-keyframes fading {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fading {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

#bodyContent .sidebar {}

#bodyContent .sidebar-items {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;

    border: none;

    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;

    background: #3E3E3E url("http://2018.igem.org/wiki/images/e/eb/T--Goettingen--sidemenu_bg.png") left bottom/contain no-repeat;
}

#bodyContent .sidebar-items:hover {
    background-color: #FEDC54;

    color: #3E3E3E;
    text-decoration: none;

    transition: 0.5s ease-out;
    cursor: pointer;
}

#bodyContent .sidebar-items:visited {
    color: #ffffff;
    text-decoration: none;
}

#bodyContent .sidebar-drop_items {
    padding: 5px 0px 5px 20px;

    font-size: 0.8em;
    text-align: left;

    background: #585858 url("http://2018.igem.org/wiki/images/e/eb/T--Goettingen--sidemenu_bg.png") left bottom/75% no-repeat;

}

#bodyContent .sidebar-items.is-active {
    background-color: #FEDC54;

    color: #3E3E3E;
}

.sidebar-dropdown.is-hidden {
    display: none;
}

.l-triangle {
    background-color: blue;
    width: 100%;
    padding-top: 140%;
    position: relative;
    overflow: hidden;
}

.triangle_down_inside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-color: #3E3E3E;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
}
